<app-banner></app-banner>


<!-- service -->
<div class="service">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <div class="title">
                <h2>Service <strong class="black">Process</strong></h2>
                <span>Easy and effective way to get your device repair</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="assets/icon/service1.png" /></i>
                <h3>Fast service</h3>
                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="assets/icon/service2.png" /></i>
                <h3>Secure payments</h3>
                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="assets/icon/service3.png" /></i>
                <h3>Expert team</h3>
                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="assets/icon/service4.png" /></i>
                <h3>Affordable services</h3>
                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="assets/icon/service5.png" /></i>
                <h3>90 Days warranty</h3>
                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="service-box">
                <i><img src="assets/icon/service6.png" /></i>
                <h3>Award winning</h3>
                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea </p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end service -->

 <!-- our product -->
 <div class="product">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="title">
                <h2>our <strong class="black">products</strong></h2>
                <span>We package the products with best services to make you a happy customer.</span>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="product-bg">
    <div class="product-bg-white">
       <div class="container">
          <div class="row">
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="product-box">
                   <i><img src="assets/icon/p1.png" /></i>
                   <h3>Product Name</h3>
                   <span>$25.00</span>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="product-box">
                   <i><img src="assets/icon/p2.png" /></i>
                   <h3>Product Name</h3>
                   <span>$25.00</span>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="product-box">
                   <i><img src="assets/icon/p3.png" /></i>
                   <h3>Product Name</h3>
                   <span>$25.00</span>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="product-box">
                   <i><img src="assets/icon/p4.png" /></i>
                   <h3>Product Name</h3>
                   <span>$25.00</span>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="product-box">
                   <i><img src="assets/icon/p5.png" /></i>
                   <h3>Product Name</h3>
                   <span>$25.00</span>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="product-box">
                   <i><img src="assets/icon/p2.png" /></i>
                   <h3>Product Name</h3>
                   <span>$25.00</span>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="product-box">
                   <i><img src="assets/icon/p6.png" /></i>
                   <h3>Product Name</h3>
                   <span>$25.00</span>
                </div>
             </div>
             <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="product-box">
                   <i><img src="assets/icon/p7.png" /></i>
                   <h3>Product Name</h3>
                   <span>$25.00</span>
                </div>
             </div>
          </div>
       </div>
    </div>

    <!-- Get Quote Box -->
    <div class="container">
       <div class="yellow_bg">
          <div class="row">
             <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                <div class="yellow-box">
                   <h3>REQUEST A FREE QUOTE<i><img src="assets/icon/call.png" height="50px" width="50px" /></i></h3>
                   <p>Get answers and advice from people you want it from.</p>
                </div>
             </div>
             <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="yellow-box">
                   <a routerLink="contact">Get Quote</a>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end Quote Box -->
 </div>
 <!-- end our product -->